astroml
astropy
cmasher
colossus
easyquery
fastai
fastcore
fastparquet
fastprogress
fitsio
ipykernel
ipython
jupyter
matplotlib
notebook
numexpr
numpy
pandas
pillow
pip
python
pytorch
requests
scikit-learn
scipy
torchvision
tqdm
treecorr
yaml